<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MoviePedia{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Adjust footer style as needed */
        .footer {
            background-color: #343a40;
            color: white;
            padding: 1px ;
<!--            position: fixed;-->
            bottom: 0;
            width: 100%;
            height: 5%
                    }


    </style>
</head>
<body style="background-color:#7FFFD4;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">MoviePedia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_movie' %}">Add Movie</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        Hello {{ user.username }}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>

                <form class="form-inline mt-3" method="GET" action="{% url 'movie_list' %}">
                  <div class="input-group-append">
                <button class="btn btn-outline-secondary  my-2 my-sm-0" type="submit">Search by Category</button>
                  </div>
                   </form>
            </div>
        </div>

    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
            <div class="footer text-center">
        <div class="container">
            <p>&copy;My Django App. All rights reserved.</p>
        </div>
                </div>
    </footer>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

